<h2 mat-dialog-title>Terms et Conditions</h2>
<mat-dialog-content class="mat-typography">
  <h3>Copyright du projet</h3> 
  <p>
    Le droit d'auteur du projet terminé appartient au client. Les droits sur le code source, les fichiers de travail et les programmes 
    informatiques détenus par Eventdrc Technology restent la propriété de Eventdrc Technology et ne sont pas destinés à être transférés 
    au Client. Eventdrc Technology et ses sous-traitants peuvent afficher des graphiques et d'autres éléments de conception comme 
    exemples de leur travail dans leurs portefeuilles respectifs. Les projets peuvent contenir un lien vers les sites Web de 
    Eventdrc Technology.
  </p>
  
  <h3>Paiements</h3> 
  <p>Les paiements doivent être effectués rapidement conformément aux termes du présent contrat. </p>

  <p>
    Eventdrc Technology se réserve le droit de retirer tout projet Web de la visualisation sur Internet ou de suspendre tout service 
    lié au compte du Client si, à tout moment, le paiement dû en vertu des présentes est en souffrance depuis plus de trente (30) jours.
  </p>
  
  <p>
      Tout solde reporté sur 30 jours est soumis à une pénalité égale à 10% du solde majoré du taux horaire convenu pour l'administration 
      dudit compte en souffrance. 
  </p> 

  <p>
    Eventdrc Technology ne sera pas responsable de toute perte commerciale, réelle ou perçue, survenant suite à la mise hors ligne 
    d'un projet Web. Si le Client suspend l'avancement d'un projet pour une raison quelconque, 
    le Client est toujours responsable du paiement intégral dans les 15 jours suivant l'émission de la déclaration. 
</p>
  
<p>
  Dans le cas où le paiement par le Client reste en souffrance pendant trente (30) jours après sa date d'échéance et que
   cette affaire est renvoyée à un tiers pour recouvrement, 
  le Client s'engage à payer des frais et frais de recouvrement raisonnables (y compris les frais d'avocat et les frais 
  de justice raisonnables) réellement encourus par Eventdrc Technology. Quel que soit le lieu de signature de cet accord, 
  le client convient que, pour des raisons de lieu, cet accord a été conclu dans le comté de Harris, Texas, et tout litige sera plaidé 
  ou arbitré dans le comté de Harris, 
  Texas et le client consent par la présente à la compétence des tribunaux de l’État du Texas. 
  Tous les paiements seront effectués en dollars américains.
</p>
  

<h3>Calendrier de paiement</h3> 

<p>
  Si le Client choisit un prix de forfait pour une prestation, un acompte de 50% du prix total du forfait est dû à la signature, 
  et le solde restant dû à la livraison. Si le Client choisit un prix forfaitaire et ne fournit pas les matériaux adéquats et 
  la correspondance nécessaire pour achever le projet, le solde restant sera dû 3 mois à compter de la signature du présent accord, 
  quel que soit l'état du projet.
</p>  
  
<p>
  Le client et Eventdrc Technology conviennent que les services en dehors d'un prix forfaitaire et / ou après le lancement 
  du site Web doivent être complétés à un taux de 90 $ par heure avec un minimum de 15 minutes et peuvent exiger un dépôt de 50% du 
  coût total estimé. Le taux horaire peut changer à compter de 6 mois après la signature de la présente convention. 
  Les paiements ultérieurs seront dus dans les 15 jours suivant l'émission de la déclaration, généralement au début de chaque mois.
</p>
  
  
<h3>Frais de pointe</h3> 

<p>
  Si le client impose un délai serré sur un projet horaire, il peut être soumis à un tarif de pointe de 115 $ par heure à la discrétion
   de Eventdrc Technology. Eventdrc Technology effacera les frais de pointe avec le client avant de continuer.
</p>
  
  
<h3>Remboursements</h3> 

<p>
  Les remboursements ne seront accordés qu'à la discrétion de Eventdrc Technology. Tout remboursement autorisé est soumis à 
  des frais équivalant à 2 heures administratives au taux horaire en vigueur plus tout temps consacré au projet, y compris, 
  mais sans s'y limiter, les déplacements, la consultation et l'administration du projet.
</p>
  
  
<h3>Mention légale</h3> 

<p>
  Nonobstant toute disposition contraire contenue dans ce contrat, ni Eventdrc Technology ni aucun de ses employés ou agents, 
  ne garantit que les fonctions contenues dans tout projet ou service seront ininterrompues ou sans erreur. 
  Le risque entier quant à la qualité, l'exactitude et la performance de tout projet est avec le client. 
  En aucun cas, Eventdrc Technology ne sera responsable envers le client ou tout tiers pour tout dommage, y compris, 
  mais sans s'y limiter, les interruptions de service causées par les cas de force majeure, le service d'hébergement ou 
  toute autre circonstance échappant à notre contrôle raisonnable, tout manque à gagner, perte économies ou autres dommages accessoires, 
  consécutifs, punitifs ou spéciaux résultant de l'exploitation ou de l'impossibilité d'exploiter un projet ou un service 
  fourni par Eventdrc Technology, défaillance de tout fournisseur de services, de tout opérateur de télécommunications, 
  de la dorsale Internet, de tout serveur Internet , l'ordinateur ou le logiciel Internet de votre visiteur du site, 
  même si Eventdrc Technology a été avisé de la possibilité de tels dommages. En outre, en aucun cas Eventdrc Technology ne 
  pourra être tenu responsable de la perte de données ou de l'interruption de service due au piratage ou à tout autre type 
  d'attaque sur votre site ou serveur. Toute restauration de service, récupération de données et/ou reconstruction de site 
  Web relève de la seule responsabilité financière du Client.
</p>
  
  
<h3>Résiliation des services</h3> 

<p>
  Le Client se réserve le droit d'obtenir une copie numérique des fichiers de projet que Eventdrc Technology a créés 
  tant que le solde du Client est payé en totalité. Cela n'inclut pas la licence d'un logiciel tiers ou d'un logiciel
   propriétaire Eventdrc Technology, sauf si la licence a été payée par le client.
</p>

  
<h3>Représentant autorisé</h3> 

<p>
  L'utilisateur affirme qu'il est un agent autorisé du client et qu'il fait affaire avec 
  Eventdrc Technology en pleine connaissance et avec la permission du propriétaire de l'entreprise du client.
</p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>D'accord</button>
</mat-dialog-actions>
