<div class="about">
    <div class="about-img">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
    <div class="about-banner">
        <div class="about-title">EVENTDRC TECHNOLOGY</div>
        <div class="about-subtitle">Nous sommes une entreprise technologique,    nous vous aidons à surmonter le complexe défis!</div>
    </div>

    <div class="about-corps">

      <strong>Eventdrc Technology</strong> peut vous aider à relever des défis exigeants, que vous soyez entrepreneur,
      marketeur ou chef de produit. <br>

      Nos outils fonctionnent ensemble afin que les équipes
      puissent améliorer les performances des projets tout en obtenant le meilleur.<br> <br>

      La numérisation est maintenant à votre portée nous vous apportons une lucidité, une rapidité, une fiabilité,
      une sécurité grâce à nos technologies qui sont les plus récentes sur le marché. <br>

      Nous simplifions les tâches quotidiennes, les taches répétitifs, les taches difficiles que vous endurez chaque jour,
      nous optimisons votre travail. <br>

      Nous vous faisons gagner du temps et vous redonnez le plaisir de travailler. <br>

      Grâce à la puissance technologique et à l'innovation, <strong>nous vous redonnons le controle de votre business.</strong> <br>

      Cette technologie qui est maintenant à votre portée vous assure des sites web, des logiciels, des applications web et mobiles <strong>moderne.</strong>

    </div>

    <div class="card-about">
        <mat-card class="card-about-1">
            <mat-icon aria-hidden="false" aria-label="Eventdrc technology About">new_releases</mat-icon>
            <div class="card-text-3">
                <div class="soft-text">
                    Nous sommes des innovateurs dans la création des Site Web, Logiciels, Applications Mobiles et Web. <br>
                    Nous ne jouons pas à des jeux de dévinettes,
                    mais cherchons les faits à partir d'une gamme d'analyses pour vous aider à obtenir l'avantage.
                </div>
            </div>
        </mat-card>
        <mat-card class="card-about-2">
            <mat-icon aria-hidden="false" aria-label="Eventdrc technology About">error_outline</mat-icon>
            <div class="card-text-3">
                <div class="soft-text">
                    Chaque projet est personnalisé pour une visibilité et
                    une réponse optimales du public. <br>
                    Nous mettons l'accent sur la qualité de l'entreprise afin de susciter
                    l'interêt au près de la population ciblé.
                </div>
            </div>
        </mat-card>
        <mat-card class="card-about-3">
            <mat-icon aria-hidden="false" aria-label="Eventdrc technology About">error</mat-icon>
            <div class="card-text-3">
                <div class="soft-text">
                    Nous avons une compréhension profonde des habitudes et
                    des comportements des utilisteurs.  <br>
                    Nous nous engageons à utiliser des connaissances factuelles et
                    notre marque unique d'innovation pour aider à dominer la concurrence.
                </div>
            </div>
        </mat-card>
    </div>
    <br>
    <br>
    <div class="sponsors">
        <img src="../../../assets/img/logo.png" alt="">
    </div>
</div>
