<div>
    <mat-toolbar class="mat-elevation-z10">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/nav/layouts" mat-button matTooltip="Eventdrc Technology">
          <img src="../assets/img/logo.png" alt="logo Eventdrc Technology">
        </a>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <span *ngIf="authService.user$ | async as user">
            <a routerLink="/admin" mat-button matTooltip="Admin" routerLinkActive="active-link" *ngIf="user?.roles.admin === true">
            <mat-icon aria-hidden="false" aria-label="Eventdrc Technology Admin">settings</mat-icon>
          </a>
        </span>
  
          <a routerLink="/nav/layouts/home" class="nav-1"  mat-button matTooltip="Acceuil" routerLinkActive="active-link">
  
            Acceuil
          </a> 
          <a routerLink="/nav/layouts/about" class="nav-1" mat-button matTooltip="About" routerLinkActive="active-link">
  
            A Propos de Nous
          </a> 
          <a routerLink="/nav/layouts/service" class="nav-1" mat-button matTooltip="Nos Services" routerLinkActive="active-link">
  
            Services
          </a>
          <a routerLink="/nav/layouts/presentation" class="nav-1" mat-button matTooltip="Nos Présentations" routerLinkActive="active-link">
  
            Présentations
          </a>
         
        </div>
        <a routerLink="/nav/layouts/contact" id="contact" class="nav-1" mat-button matTooltip="Contactez Nous ici" routerLinkActive="active-link">
  
          Contactez-Nous
        </a>
        <!-- <div class="auth_cart" >
          <button mat-button [matMenuTriggerFor]="menu" matTooltip="Menu Authentification">
            <mat-icon aria-hidden="false" aria-label="Eventdrc Technology profile">person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/layouts/profile" routerLinkActive="active-link">
              <mat-icon aria-hidden="false" aria-label="login website">account_circle</mat-icon>
              Profile
            </button>
            <button mat-menu-item routerLinkActive="active-link" >
              <mat-icon aria-hidden="false" aria-label="déconnexion">exit_to_app</mat-icon>
              Déconnexion
            </button>
            <button mat-menu-item routerLink="/auth/login" routerLinkActive="active-link">
              <mat-icon aria-hidden="false" aria-label="login website">portrait</mat-icon>
              Login
            </button>
            <button mat-menu-item routerLink="/auth/register" routerLinkActive="active-link">
              <mat-icon aria-hidden="false" aria-label="déconnexion">person_add</mat-icon>
              Créez un compte
            </button>
          </mat-menu>
        </div> -->
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav (click)="sidenav.close()">
        <mat-nav-list>
          <a routerLink="/nav/layouts/home" mat-list-item routerLinkActive="active-link">
            <mat-icon aria-hidden="false" aria-label="Eventdrc Technology home">home</mat-icon>
            Acceuil
          </a>
          <a routerLink="/nav/layouts/service" mat-list-item routerLinkActive="active-link">
            <mat-icon aria-hidden="false" aria-label="Eventdrc Technology panier category">apps</mat-icon>
            Services
          </a>
          <a routerLink="/nav/layouts/presentation" mat-list-item routerLinkActive="active-link">
            <mat-icon aria-hidden="false" aria-label=" Eventdrc Technology contactez nous">card_membership</mat-icon>
            Présentations
          </a>
          <a routerLink="/nav/layouts/about" mat-list-item routerLinkActive="active-link">
            <mat-icon aria-hidden="false" aria-label=" Eventdrc Technology contactez nous">info</mat-icon>
            A Propos de Nous
          </a>
          <a routerLink="/nav/layouts/contact" mat-list-item routerLinkActive="active-link">
            <mat-icon aria-hidden="false" aria-label=" Eventdrc Technology contactez nous">send</mat-icon>
            Contactez-Nous
          </a>
          <span *ngIf="authService.user$ | async as user">
            <a routerLink="/admin" mat-list-item matTooltip="Admin" routerLinkActive="active-link" *ngIf="user?.roles.admin === true">
            <mat-icon aria-hidden="false" aria-label="Eventdrc Technology Admin">settings</mat-icon>
            Admin
          </a>
        </span>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> 
  

  <!-- <app-navigation></app-navigation> -->