
<div class="home-banner">
    <div class="site-banner">
        Laissez nous vous guider à travers la transformation numérique de votre entreprise.
    </div>
    <div class="home-img">
        <!-- <img src="../../../assets/svg/undraw_product_iteration_kjok.svg" 
            alt="Numerisation des services informatiques"> -->
        <ng-lottie [options]="options1" (animationCreated)="animationCreated($event)"></ng-lottie>
    
    </div>
</div>

<div class="card-home-1">
    <mat-card>
        <div class="card-title">
            <div class="welcome">Bienvenue sur le site</div>  <br>
            <div class="title">Eventdrc Technology</div> 
        </div> 

        <div class="site-banner">
            Nous fournissons aujourd'hui des services de developpements et vous accompagnons dans la numérisation de votre Projet.
        </div>

        <div class="btn">
            <button mat-flat-button routerLink="/nav/layouts/contact">Embauchez-Nous</button>
            <a mat-flat-button routerLink="/nav/layouts/contact" >Contactez-Nous</a>
        </div>
    </mat-card>
</div>

<div class="card-home-2">
    <mat-card>
        <div class="card-items">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart WebSite">devices</mat-icon>
                <div class="card-text-2-1">Site Web</div>
                <div>
                    Nous créons des sites Web modernes, élégants, souples, 
                    fonctionnels et compatibles avec tout type d'écrans numeriques.
                </div>
            </div>
        </div>

        <div class="card-items-1">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart Logiciels">personal_video</mat-icon>
                <div class="card-text-2-1">Logiciels</div>
                <div>
                    Nous concevons des Logiciels sur mesure, adaptés à tout type d'entreprise. Ils
                     offrent une nouvelle experience utlisateur pour simplifier votre travaille.
                </div>
            </div>
        </div>
        
        <div class="card-items-2">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Mobiles">smartphone</mat-icon>
                <div class="card-text-2-1">Applications Mobiles</div>
                <div>
                    Nos Applications Mobiles sont élégants, légères, éfficaces, autonomes, sécurisées, compétitives et faciles d'utilisation.
                </div>
            </div>
        </div>
        
        <div class="card-items-3">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Web">devices_other</mat-icon>
                <div class="card-text-2-1">Applications Web</div>
                <div>
                    Simplifiez vos tâches quotidiennes en travaillant à distance, 
                    nos Applications Web moderne vous apportent une innovation.
                </div>
            </div> 
        </div>
        
    </mat-card>
</div>

<div class="card-home-3">
    <mat-card class="card-home-3-card">
        <div class="soft">
            <ng-lottie [options]="options4" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
               <mat-icon aria-hidden="false" aria-label="Fast Smart WebSite">devices</mat-icon>
                Site Web 
            </div>
            
            <div class="soft-text">
                Eventdrc Technology crée des sites Web modernes et adaptés aux mobiles en utilisant les dernières normes de l'industrie. 
                Nous nous concentrons sur la navigation intuitive et la suppression de l'encombrement afin que votre message soit clair, concis et attrayant.
            </div>
        </div>
    </mat-card>
    <mat-card class="card-home-3-card-inverse">
        <div class="soft">
            <ng-lottie [options]="options2" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
                 <mat-icon aria-hidden="false" aria-label="Fast Smart Logiciels">personal_video</mat-icon>
                Logiciels
            </div>
           
        
            <div class="soft-text">
                Nous concevons des Logiciels sur mesure, adaptés a tous type d'entreprise. Ils utilisent la toute dernière technologie et
                     offres une nouvelle experience utlisateur pour simplifier votre travaille.
            </div>
        </div>
    </mat-card>
    <mat-card class="card-home-3-card">
        <div class="soft">
            <ng-lottie [options]="options5" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
               <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Mobiles">smartphone</mat-icon>
                Applications Mobiles 
            </div>
            
            <div class="soft-text">
                Nos Applications Mobiles sont élégant, légères, efficaces, autonomes, sécurisés, compétitifs et facile d'utilisations.
            </div>
        </div>
    </mat-card>
    <mat-card class="card-home-3-card-inverse">
        <div class="soft">
            <ng-lottie [options]="options3" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
               <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Web">devices_other</mat-icon>
                Applications Web 
            </div>
            
            <div class="soft-text">
                Simplifiez vos tâches quotidiennes en travaillant à distance, 
                nos Applications Web moderne vous apportent une innovation, une fiabilité et une nouvelle experience utilisateur.
            </div>
        </div>
    </mat-card>
</div>
