
<div class="home-banner">
    <div class="site-banner">
        Laissez nous vous guider a travers la transformation numérique de votre entreprise.
    </div>
    <div class="home-img">
        <!-- <img src="../../../assets/svg/undraw_product_iteration_kjok.svg" 
            alt="Numerisation des services informatiques"> -->
        <ng-lottie [options]="options1" (animationCreated)="animationCreated($event)"></ng-lottie>
    
    </div>
</div>

<div class="card-home-1">
    <mat-card>
        <div class="card-title">
            <div class="welcome">Bienvenue sur le site</div>  <br>
            <div class="title">Eventdrc Technology</div> 
        </div> 

        <div class="site-banner">
            Nous fournissons aujourd'hui des services de develloppements et vous accompagnent dans la numérisation de votre Projet.
        </div>

        <div class="btn">
            <button mat-flat-button routerLink="/layouts/contact">Embauchez-Nous</button>
            <a mat-flat-button routerLink="/layouts/presentation" >Contactez-Nous</a>
        </div>
    </mat-card>
</div>

<div class="card-home-2">
    <mat-card>
        <div class="card-items">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart WebSite">devices</mat-icon>
                <div class="card-text-2-1">Site Web</div>
                <div>
                    Un site Web conçu de manière professionnelle par Eventdrc attrayant, 
                    fonctionnel et compatible avec les appareils mobiles.
                </div>
            </div>
        </div>

        <div class="card-items-1">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart Logiciels">personal_video</mat-icon>
                <div class="card-text-2-1">Logiciels</div>
                <div>
                    En Plus de vous rendre populaire sur internet, nous concevons 
                    des logiciels et Applications Web pour des grands projects.
                </div>
            </div>
        </div>
        
        <div class="card-items-2">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Mobiles">smartphone</mat-icon>
                <div class="card-text-2-1">Applications Mobiles</div>
                <div>
                    Un site Web conçu de manière professionnelle par Eventdrc attrayant, 
                    fonctionnel et compatible avec les appareils mobiles.
                </div>
            </div>
        </div>
        
        <div class="card-items-3">
            <div class="card-text-2">
                <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Web">devices_other</mat-icon>
                <div class="card-text-2-1">Applications Web</div>
                <div>
                    Un site Web conçu de manière professionnelle par Eventdrc attrayant, 
                    fonctionnel et compatible avec les appareils mobiles.
                </div>
            </div>
        </div>
        
    </mat-card>
</div>

<div class="card-home-3">
    <mat-card class="card-home-3-card">
        <div class="soft">
            <ng-lottie [options]="options4" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
               <mat-icon aria-hidden="false" aria-label="Fast Smart WebSite">devices</mat-icon>
                Site Web 
            </div>
            
            <div class="soft-text">
                En Plus de vous rendre populaire sur le Web, nous concevons pour vous des logiciels 
                haut gamme pour vos projects d'entreprise.
            </div>
        </div>
    </mat-card>
    <mat-card class="card-home-3-card-inverse">
        <div class="soft">
            <ng-lottie [options]="options2" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
                 <mat-icon aria-hidden="false" aria-label="Fast Smart Logiciels">personal_video</mat-icon>
                Logiciels
            </div>
           
        
            <div class="soft-text">
                En Plus de vous rendre populaire sur le Web, nous concevons pour vous des logiciels 
                haut gamme pour vos projects d'entreprise.
            </div>
        </div>
    </mat-card>
    <mat-card class="card-home-3-card">
        <div class="soft">
            <ng-lottie [options]="options5" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
               <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Mobiles">smartphone</mat-icon>
                Applications Mobiles 
            </div>
            
            <div class="soft-text">
                En Plus de vous rendre populaire sur le Web, nous concevons pour vous des logiciels 
                haut gamme pour vos projects d'entreprise.
            </div>
        </div>
    </mat-card>
    <mat-card class="card-home-3-card-inverse">
        <div class="soft">
            <ng-lottie [options]="options3" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        
        <div class="card-text-3">
            <div class="title-icon">
               <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Web">devices_other</mat-icon>
                Applications Web 
            </div>
            
            <div class="soft-text">
                En Plus de vous rendre populaire sur le Web, nous concevons pour vous des logiciels 
                haut gamme pour vos projects d'entreprise.
            </div>
        </div>
    </mat-card>
</div>
