
@media screen and (max-width: 960px) {
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Google Sans", Roboto, sans-serif;
        font-size: 1rem;
        position: relative;
        text-align: center !important;
        .slider {
            height: 300px;
            width: 100%;
            background-color: rgb(7, 91, 154);
            font-family: "Google Sans", Roboto, sans-serif;
            font-size: 1rem;
            position: relative;
            text-align: center !important;

            h2 {
                font-size: 2.5rem;
                color: white;
                padding-top: 100px;
            }
        }

        .banner {
            color: rgb(7, 91, 154);
            font-size: 1.50rem;
            font-weight: 700;
            text-align: center !important;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .card-grid {
            mat-card {
                margin-right: 4%;
                margin-left: 4%;
                margin-bottom: 1.25rem;

                img {
                    width: 100%;
                    height: 200px;
                }

                a {
                    background-color: rgb(7, 91, 154);
                    color: whitesmoke;
                    text-decoration: none;
                }
    
            }

            mat-card-title{
                line-height: 1.1;
            }
           

            .example-card {
             max-width: 400px;
           }
           
           .example-header-image {
             background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
             background-size: cover;
           } 
         }
    }
}


@media screen and (min-width: 960px) {
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Google Sans", Roboto, sans-serif;
        font-size: 1rem;
        position: relative;
        text-align: center !important;
        .slider {
            height: 300px;
            width: 100%;
            background-color: rgb(7, 91, 154);
            font-family: "Google Sans", Roboto, sans-serif;
            font-size: 1rem;
            position: relative;
            text-align: center !important;
            color: whitesmoke;

            h2 {
                font-size: 2rem;
                color: white;
                padding-top: 100px;
            }
        }

        .banner {
            color: rgb(7, 91, 154);
            font-size: 1.50rem;
            font-weight: 700;
            text-align: center !important;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .card-grid {
            mat-card {
                margin-left: 6%;
                margin-bottom: 1.25rem;

                img {
                    width: 100%;
                    height: 200px;
                }

                a {
                    background-color: rgb(7, 91, 154);
                    color: whitesmoke;
                    text-decoration: none;
                }
    
            }
            
            mat-card-title{
                line-height: 1.1;
            }
           
           .example-card {
            max-width: 400px;
          }
          
          .example-header-image {
            background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
            background-size: cover;
          } 
        }
        
    }
}
