<mat-toolbar class="footer">
    <div class="footer-right">
        <p> 
            <a routerLink="">Team</a>  -
            <a routerLink="">Recrutements</a>  -
            <a routerLink="">Formations</a> 
        </p>
    </div>

    <div class="footer-medium">
        <p>
            <a href="https://web.facebook.com/Eventdrc-493465584523382/?ref=bookmarks" target="blank">
                <img src="../../../../assets/icones/facebook_30px.png" alt="Facebook eventdrc">
            </a>
            <a href="" target="blank">
                <img src="../../../../assets/icones/twitter_30px.png" alt="Twitter @eventdrc">
            </a>
            <a href="#" target="blank">
                <img src="../../../../assets/icones/instagram_30px.png" alt="Instagram Eventdrc Technology">
            </a>
            <a href="#" target="blank">
                <img src="../../../../assets/icones/linkedin_30px.png" alt="LinkedIn Eventdrc Technology">
            </a>
            <a tel="+243819753232" target="blank">
                <img src="../../../../assets/icones/whatsapp_30px.png" alt="Whatsapp Eventdrc Technology">
            </a>
        </p>
    </div>
    
    <div class="terms-licence">
        <p> 
            <a mat-button (click)="openDialog()">Terms de Services</a>
        </p>
    </div>

    <div class="footer-left">
        <p>&copy; {{ toDay | date: 'yyyy' }} Eventdrc Technology</p>
    </div>
</mat-toolbar>
