<mat-toolbar class="footer">
    <div class="footer-right">
        <p> <a routerLink="">Team</a>  -
            <a routerLink="">Recrutements</a>  -
            <a routerLink="">Formations</a> 
        </p>
    </div>

    <div class="footer-medium">
        <p>
            <a href="">
                <img src="../../../../assets/icones/facebook_30px.png" alt="Facebook eventdrc">
            </a>
            <a href="">
                <img src="../../../../assets/icones/twitter_30px.png" alt="Twitter @eventdrc">
            </a>
            <a href="">
                <img src="../../../../assets/icones/instagram_30px.png" alt="Instagram Eventdrc Technology">
            </a>
            <a href="">
                <img src="../../../../assets/icones/linkedin_30px.png" alt="LinkedIn Eventdrc Technology">
            </a>
            <a href="">
                <img src="../../../../assets/icones/whatsapp_30px.png" alt="Whatsapp Eventdrc Technology">
            </a>
        </p>
    </div>
    

    <div class="footer-left">
        <p>&copy; {{ toDay | date: 'yyyy' }} Eventdrc Technology</p>
    </div>
</mat-toolbar>
