<div class="serv">
    <div class="serv-banner">
        <div class="serv-title">
            Nos services optimisent votre temps de travail, votre securité, votre popularité sur le web et votre productivité.
        </div>

        <div class="card-serv-2">
            <mat-card>
                <div class="card-items">
                    <div class="card-text-2">
                        <mat-icon aria-hidden="false" aria-label="Fast Smart WebSite">devices</mat-icon>
                        <div class="card-text-2-1">Site Web</div>
                        <div>
                            Nous créons des sites Web modernes, élégant, attrayant, souple, responsive, 
                            foctionnel et compatible avec tous types d'écrans numeriques.
                        </div>
                    </div>
                </div>
        
                <div class="card-items-1">
                    <div class="card-text-2">
                        <mat-icon aria-hidden="false" aria-label="Fast Smart Logiciels">personal_video</mat-icon>
                        <div class="card-text-2-1">Logiciels</div>
                        <div>
                            En Plus de vous rendre populaire sur internet, nous concevons 
                            des logiciels et Applications Web pour des grands projects.
                        </div>
                    </div>
                </div>
                
                <div class="card-items-2">
                    <div class="card-text-2">
                        <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Mobiles">smartphone</mat-icon>
                        <div class="card-text-2-1">Applications Mobiles</div>
                        <div>
                            Nos Applications Mobiles sont élégant, légères, efficaces, autonomes, sécurisés, compétitifs et facile d'utilisations.
                        </div>
                    </div>
                </div>
                
                <div class="card-items-3">
                    <div class="card-text-2">
                        <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Web">devices_other</mat-icon>
                        <div class="card-text-2-1">Applications Web</div>
                        <div>
                            Simplifiez vos tâches quotidiennes en travaillant en télétravaille, 
                            nos Applications Web moderne vous apportent une innovation.
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="card-serv-3">
        <mat-card class="card-serv-3-card">
            <div class="soft">
                <ng-lottie [options]="options4" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
            
            <div class="card-text-3">
                <div class="title-icon">
                   <mat-icon aria-hidden="false" aria-label="Fast Smart WebSite">devices</mat-icon>
                    Site Web 
                </div>
                
                <div class="soft-text">
                    Eventdrc Technology crée des sites Web modernes et adaptés aux mobiles en utilisant les dernières normes de l'industrie. 
                    Nous nous concentrons sur la navigation intuitive et la suppression de l'encombrement afin que votre message soit clair, concis et attrayant.
                </div>
            </div>
        </mat-card>
        <mat-card class="card-serv-3-card-inverse">
            <div class="soft">
                <ng-lottie [options]="options2" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
            
            <div class="card-text-3">
                <div class="title-icon">
                     <mat-icon aria-hidden="false" aria-label="Fast Smart Logiciels">personal_video</mat-icon>
                    Logiciels
                </div>
               
            
                <div class="soft-text">
                    Nous concevons des Logiciels sur mesure, adaptés a tous type d'entreprise. Ils utilisent la toute dernière technologie et
                     offres une nouvelle experience utlisateur pour simplifier votre travaille.
                </div>
            </div>
        </mat-card>
        <mat-card class="card-serv-3-card">
            <div class="soft">
                <ng-lottie [options]="options5" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
            
            <div class="card-text-3">
                <div class="title-icon">
                   <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Mobiles">smartphone</mat-icon>
                    Applications Mobiles 
                </div>
                
                <div class="soft-text">
                    Nos Applications Mobiles sont élégant, légères, efficaces, autonomes, sécurisés, compétitifs et facile d'utilisations.
                </div>
            </div>
        </mat-card>
        <mat-card class="card-serv-3-card-inverse">
            <div class="soft">
                <ng-lottie [options]="options3" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
            
            <div class="card-text-3">
                <div class="title-icon">
                   <mat-icon aria-hidden="false" aria-label="Fast Smart Applications Web">devices_other</mat-icon>
                    Applications Web 
                </div>
                
                <div class="soft-text">
                    Simplifiez vos tâches quotidiennes en travaillant en télétravaille, 
                    nos Applications Web moderne vous apportent une innovation, une fiabilité et une nouvelle experience utilisateur.
                </div>
            </div>
        </mat-card>
    </div>
</div>